.button
    background: none
    border: none
    &__add
        background: rgb(127,206,216)
        border-radius: 50%
        padding: 3px
    &__edit
        color: blue
    &__delete
        color: red
    &__check
        color: green

.project-field
    display: flex
    flex-direction: column
    &__item
        padding: 2px
    &__title
    &__item:hover &__button
        display: inline
    &__button
        display: none
        position: relative
        left: -47px
        top: 7px
