.button
    background: none
    border: none
    padding: 3px
    &__add
        background: rgb(127,206,216)
        border-radius: 50%
    &__edit
        color: blue
    &__delete
        color: red
    &__check
        color: green

.project-field
    display: flex
    flex-direction: column
    &__item
    &__title
    &__button
        position: absolute
        right: 35px
